@import "../../../../../assets/global.scss";
@import "../../../../../assets/colors.scss";

.restaurant-container{
    min-height: calc(100vh - #{$header-height} - #{$footer-height});
	.picsum-img-wrapper{
		height: 400px;
	}
	.wrapper{
        width: 95%;
        margin: auto;
        height: 100%;
        text-align: center;
        .row{
            width: 100%;
            margin: auto;
            margin-top: 50px; 
           	&.menu{
         		margin-bottom: 50px; 

           	}
	    	.information-section {
           
                text-align: left;
	    	}
	    	.map-section{
	    		margin: auto;
                text-align: center;
                img{
                	width: 100%;
                }
	    	}
			.left-section {
                margin: auto;
                text-align: left;
	    	}
            .right-section {
                margin: auto;
                text-align: right;
                padding: 0;
			}
			img{
				width: 100%;
			}
			.card{
				margin-bottom: 30px;
				.row{
					margin: 0;
				}
				.card-title{
					margin-top: 20px;
					text-transform: uppercase;
				}
				.card-image{
					background-size: cover;
				}
				.card-body{
					text-align: left;
					position: relative;
					.price-dish{
						text-align: right;
						position: absolute;
						right: 0px;
						font-size: 14px;
					}
					p{
						margin-bottom: 5px;
					}
				}
			}
			.add-card{
				.card-image{
					min-height: 154px;
					background-size: cover;
				}
				.card-img-overlay{
					opacity: 0.7;
				}
				.card-title{
					position: absolute;
					top: 50%;	
					right: 0;
					bottom: 50%;
					transform: translateY(50%);
					left: 0;
					color: $font-color;
					z-index: 1;
					
					font-size: 30px;
					line-height: 0;
					margin: 0;
				
				}
			}
	    }
               
		h1{
	        font-size: 2em;
	        margin-bottom: 20px;
	 		text-transform: uppercase;
	    }
	    h2{
	    	font-size: 1.5em;
	        margin-bottom: 20px;
	    }
	}
}

.modal-header{
	.modal-title{
		text-transform: uppercase;
	}
}

.centered-img {
	display: block;
	margin-right: auto;
	margin-left: auto;
}


form{
	width: 90%;
	margin: auto;
	input{
		padding: 0px 10px;
		width: 100%;
		margin: auto;
		margin-bottom: 10px;
		border: none;
		border-bottom: 1px solid $dark-grey;
	}
	textarea{
		padding: 0px 10px;
		width: 100%;
		margin: auto;
		height: 100px;
		margin-bottom: 10px;
		border: none;
		border-bottom: 1px solid $dark-grey;
	}
	.allergies{
		margin-bottom: 4px;
	}
}
.modal-footer{
	button{
		background-color: $primary-color;
		border-color: #AF1B38;
		text-transform: uppercase;
		padding: 10px 30px;
	}
}
.picsum-img-wrapper{
	height: 200px;
	img{
		width: 100%;
	}
}

#map {
	height:400px;
}

