<section class="restaurant-container">
		<ng-container *ngIf="!!restaurant">
			<div class="slider">
				<ngb-carousel *ngIf="restaurant['attributes']['images'].length > 0">
					<ng-template ngbSlide *ngFor="let image of restaurant['attributes']['images']">
						<div class="picsum-img-wrapper">
							<img src="{{ image.url }}"/>
							
						</div>
					</ng-template>
				</ngb-carousel>

				<img class="centered-img" *ngIf="!restaurant['attributes']['images'].length" src="../../../../../assets/images/no-image.jpg"/>
			</div>
			<div class="wrapper">

				<div class="row">

						<div class="information-section col-6 top-xs">
							<h1>{{ restaurant['attributes']['name'] }}</h1>
							<p class="description">{{ restaurant['attributes']['address'] }}, {{ restaurant['attributes']['postalcode'] }}
							{{ restaurant['attributes']['municipality'] }}</p>
							<a *ngIf="!!restaurant['attributes']['mail']" href="mailto:{{ restaurant['attributes']['mail'] }}"><i class="fas fa-at"></i> {{ restaurant['attributes']['mail'] }}</a><br>
							<a *ngIf="!!restaurant['attributes']['tel']" href="tel:{{ restaurant['attributes']['tel'] }}"><i class="fas fa-phone"></i> {{ restaurant['attributes']['tel'] }}</a>.<br>
							<a *ngIf="!!restaurant['attributes']['web']" target="_blank" href="{{ restaurant['attributes']['web'] }}"><i class="fas fa-external-link-alt"></i> {{ restaurant['attributes']['web'] }}</a>
							

						</div>
						<div class="map-section col-6 top-xs">
							<div id="map"></div>
						</div>
				</div>
				<div class="row menu">
					<div class="left-section col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h2 class="title-menu">Menus</h2>

						<div class="filters">
							<div class="form-group">
								<form [formGroup]="filtersForm"  class="w-100 border p-5" (ngSubmit)="filterDishes()">
									<h5>Filtres</h5>
									<div class="row">

										<div class="col-12">
											<label>Nom:</label>
											<input type="text" formControlName="name" placeholder="Nom">
										</div>
										
										<div class="col-12">
											<label>Allergies:</label>
											<tag-input
												formControlName="allergies"
												[placeholder]="'Allergie'"
												[secondaryPlaceholder]="'Vos allergies'">
											</tag-input>
										</div>
	
										<div class="col-1">
											<br>
											<button class="btn bg-red" type="submit" [disabled]="pendingFilter">
												<span *ngIf="!pendingFilter">Filtrer</span>
												<span *ngIf="pendingFilter" class="spinner-border spinner-border-sm"></span>
											</button>   
										</div>
									</div>
								</form>
							</div>							
						</div>
					</div>

					
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pointer"
					 *ngFor="let dish of dishes" (click)="openDish(dish)">
						<div class="card" >
							<div class="row">
								<div *ngIf="dish['attributes']['images'].length > 0" class="card-image col-xs-12 col-sm-12 col-md-6 col-lg-6" [ngStyle]="{'background-image': 'url(' + dish['attributes']['images'][0].url + ')'}"></div>

								<div *ngIf="dish['attributes']['images'].length === 0" class="card-image col-xs-12 col-sm-12 col-md-6 col-lg-6" [ngStyle]="{'background-image': 'url(../../../../../assets/images/no-image.jpg)'}" ></div>

								<div class=" col-xs-12 col-sm-12 col-md-6 col-lg-6">
									<div class=" card-body">
										<p *ngIf="dish['attributes']['price']" class="price-dish">{{ dish['attributes']['price'] }} €</p>
										<h5 class="card-title">{{ dish['attributes']['name'] }}</h5>
										
										
										<p class="card-text">{{ dish['attributes']['description'] | slice:0:50 }}...</p>
										<p class="note-dish"><i class="fas fa-star"></i> {{ dish['attributes']['note'] }}</p>
									</div>
								</div>

							</div>
						</div>
					</div>

					<div class="add-card col-xs-12 col-sm-6 col-md-4 col-lg-4 pointer">
						<div class="card bg-dark text-white" (click)="open(addDishModal)">
							<div class="row">
								
							
							<div class="card-image col-md-12" style="background-image:url('../../../../../assets/images/home-dish.jpg')">
							<h5 class="card-title">Ajouter un plat</h5>
							<div class="card-img-overlay bg-dark">
								
							</div>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	
			
		</ng-container>
</section>

<!-- Modal pour consulter et modifier un plat -->
<ng-template #showDishModal let-modal>
	<div class="modal-header" style="border-bottom: none;">
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<div>
		<ngb-carousel *ngIf="currentDish['attributes']['images'].length > 0">
			<ng-template ngbSlide *ngFor="let image of currentDish['attributes']['images']">
				<div class="picsum-img-wrapper">
					<img src="{{ image.url }}"/>
					
				</div>
			</ng-template>
		</ngb-carousel>

		<!-- <ngb-carousel>
			<ng-template ngbSlide>
				<div class="picsum-img-wrapper">
					<img [src]="'../../../../../assets/images/home-dish.jpg'" alt="Random first slide">
				</div>
			</ng-template>
		</ngb-carousel> -->
	</div>

	<div class="modal-body">

		<div class="form-group">
			<form [formGroup]="editForm">
				<div class="row">
				
					<div class=" col-xs-12 col-md-12">
						<label>Nom du plat:</label>
						<input type="text" placeholder="Nom du plat" formControlName="name">
					</div>
					<div class=" col-xs-12 col-md-12">
						<label>Prix:</label>

						<input type="text" placeholder="Price" formControlName="price">
					</div>
					<div class="col-xs-12 col-md-12">
						<label>Description:</label><br>

						<textarea formControlName="description"></textarea>
					</div>
					<div class=" col-xs-12 col-md-12">
						<label>Note:</label> <br>

						<ngb-rating formControlName="note" [max]="5"></ngb-rating>
					</div>
					<div class=" col-xs-12 col-md-12">
						<br>
						<label>Allergies:</label>
						<tag-input formControlName="allergies" [placeholder]="'Allergie'" [secondaryPlaceholder]="'Allergies'"></tag-input>
					</div>
								
					<div class="col-xs-12 col-md-12 mb-1">
						<label>Images:</label>

						<tag-input formControlName="images" [placeholder]="'Lien de l\'image'" [secondaryPlaceholder]="'Images'"></tag-input>
					</div>

				</div>

			</form>
			

		</div>

	</div>
	<div class="modal-footer">
		<button class="btn" (click)="deleteDish()">Supprimer</button>


		<button [disabled]="pending" class="btn" type="button" (click)="editDish()">
			<span>Modifier 
				<span *ngIf="pending" class="spinner-border spinner-border-sm"></span>
			</span>
		</button>
	</div>

</ng-template>

<!-- Modal pour ajouter un plat -->
<ng-template #addDishModal let-modal class="modal-add">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Ajouter un plat</h4>

		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<div class="modal-body">

		<div class="form-group">
			<form [formGroup]="addForm">
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<label>Nom du plat:</label>
						<input type="text" placeholder="Nom du plat" formControlName="name">
					</div>

					<div class="col-xs-12 col-md-12">
						<label>Categorie:</label>
						<input type="text" placeholder="Catégorie" formControlName="category">
					</div>

					<div class="col-xs-12 col-md-12">
						<label>Description:</label>
						<textarea formControlName="description"></textarea>
					</div>
	
					<div class="col-xs-12 col-md-12 mb-1">
						<label>Allergies:</label>

						<tag-input formControlName="allergies" [placeholder]="'Allergie'" [secondaryPlaceholder]="'Allergies'"></tag-input>
					</div>
				
					<div class="col-xs-12 col-md-12 mb-1">
						<label>Images:</label>

						<tag-input formControlName="images" [placeholder]="'Lien de l\'image'" [secondaryPlaceholder]="'Images'"></tag-input>
					</div>

					<div class="col-xs-12 col-md-12">
						<label>Note:</label><br>

						<ngb-rating formControlName="note" [max]="5"></ngb-rating>
					</div>

					<div class="col-xs-12 col-md-12">
						<label>Price:</label>
						<input type="number" formControlName="price">
					</div>
				</div>
			</form>
				
				
				

				<!-- <ngb-rating formControlName="note" [max]="5"></ngb-rating> -->
			

		</div>

	</div>

	<div class="modal-footer">
		<button [disabled]="pending" class="btn" type="button" (click)="addDish()">
			<span>Envoyer 
				<span *ngIf="pending" class="spinner-border spinner-border-sm"></span>
			</span>
		</button>
	</div>
</ng-template>