<section class="mon-compte-container">
	
	<div class="form-group">
		<form [formGroup]="form" (ngSubmit)="onSubmit()">
			<h4>Mon compte</h4>
			<div class="row">
				
				<div class="col-xs-12 col-md-12">
					<br>
					<p><strong>Informations personnelles</strong></p>
				</div>
				<div class="col-xs-12 col-md-4">
					<label>Prenom:</label>
					<input type="text" formControlName="firstname" placeholder="Prénom">
				</div>
				<div class="col-xs-12 col-md-4">
					<label>Nom:</label>
					<input type="text" formControlName="lastname" placeholder="Nom">
				</div>
				<div class="col-xs-12 col-md-4">
					<label>Email:</label>
					<input type="email" formControlName="email" placeholder="Email">
				</div>
				<div class="col-xs-12 col-md-8">
					<label>Allergies:</label>
					<tag-input
						formControlName="allergies"
						[placeholder]="'Allergie'"
						[secondaryPlaceholder]="'Vos allergies'"
						[disable]="disableAllergy"
						(onAdd)="addAllergy($event)"
						(onRemove)="deleteAllergy($event)">
					</tag-input>
				</div>
				<div class="col-xs-12 col-md-12">
					<br>
					<p><strong>Profile</strong></p>
				</div>
				<div class="col-xs-12 col-md-4">
					<label>Mot de passe:</label>
					<input type="password" formControlName="password" placeholder="Mot de passe">
				</div>
				<div class=" col-xs-12 col-md-12">
					<br>
					<p><strong>Adresses</strong></p>
				</div>
				<div class="col-xs-12 col-md-4">
					<label>Adresse de domicile:</label>
					<input type="text" formControlName="home">
				</div>
				<div class="col-xs-12 col-md-4">
					<label>Adresse de travail:</label>
					<input type="text" formControlName="work">
				</div>
				<div class="col-xs-12 col-md-12" style="display: flex;">

					<button class="btn bg-red" type="button" (click)="deleteAccount()" [disabled]="pendingDelete">
						<span *ngIf="!pendingDelete">Supprimer</span>
						<span *ngIf="pendingDelete" class="spinner-border spinner-border-sm"></span>
					</button>&nbsp;

					<button class="btn bg-red" type="submit" [disabled]="pending">
						<span *ngIf="!pending">Modifier</span>
						<span *ngIf="pending" class="spinner-border spinner-border-sm"></span>
					</button>   
				</div>
			</div>
		</form>
	</div>
</section>