@import "../../../../assets/global.scss";
@import "../../../../assets/colors.scss";
.mon-compte-container{
	width: 95%;
	margin: auto;
	min-height: calc(100vh - #{$header-height} - #{$footer-height});
	padding-bottom: $inner-margin;
	h4{
		padding-top: $inner-margin;
		text-transform: uppercase;
	}
	form{
		width: 90%;
		margin: auto;
		input{
			padding: 0px 10px;
			width: 100%;
			margin: auto;
			margin-bottom: 10px;
			border: none;
			border-bottom: 1px solid $dark-grey;
			&:focus{
				border-color: $dark-grey;
				box-shadow: none;
				outline: 0 none;
			}
		}
		.allergies{
			margin-bottom: 4px;
		}
	}
	button{
		background-color: $primary-color;
		border-color: #AF1B38;
		text-transform: uppercase;
		padding: 10px 30px;
		&:focus, &focus{
		    box-shadow: none;
		}
	}
}
