<header class="header">
    <div class="wrapper">
        <div class="row">
            <div class="left-section col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <a routerLink="/restaurants">REEKE</a>
            </div>
            <div class="mid-section col-xs-12 col-sm-6 col-md-4 col-lg-6">
                <div class="form-container">
                    <form *ngIf="displayAddressInput" [formGroup]="form" (ngSubmit)="onSubmit()">
                        <input type="text" formControlName="address" placeholder="Adresse" (keyup.enter)="changeAddress()">
                    </form>
                </div>
            </div>
            <div class="right-section col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div ngbDropdown class="menu d-inline-block">
                    <button class="btn " id="dropdownBasic1" ngbDropdownToggle>Menu</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button routerLink="/restaurants" ngbDropdownItem>Les restaurants</button>

                        <div *ngIf="!store.user">
                            <button ngbDropdownItem (click)="signIn.open()">Se connecter</button>
                            <button ngbDropdownItem (click)="signUp.open()">S'inscrire</button>
                        </div>

                        <div *ngIf="!!store.user">
                            <button routerLink="/mon-compte" ngbDropdownItem>Mon compte</button>
                            <button class="text-danger" (click)="logout()" ngbDropdownItem>Déconnexion</button>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
        
    </div>
</header>

<app-sign-in #signIn></app-sign-in>

<app-sign-up #signUp></app-sign-up>
