@import "../../../assets/global.scss";
@import "../../../assets/colors.scss";

.header {
    background-color:$primary-color;

    .wrapper {
        width: 95%;
        margin: auto;
        display: flex;
        height: 100%;
        text-align: center;

        .row{
            width: 100%;
            .left-section {
                margin: auto;
                text-align: left;
                font-size: 40px;
                color: $font-color;
            }

            .mid-section {
                margin: auto;

                .form-container {

                    form {

                        input {
                            padding: 10px 10px 0 10px;
                            color: $font-color;
                            width: 60%;
                            margin: auto;
                            background: transparent;
                            border: none;
                            border-bottom: 1px solid white;
                            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                                color: $font-color;
                                opacity: 1; /* Firefox */
                            }

                            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                                color: $font-color;
                            }

                            &::-ms-input-placeholder { /* Microsoft Edge */
                                color: $font-color;
                            }
                        }
                    }
                }

            }
        
            .right-section {
                margin: auto;
                text-align: right;
                padding: 0;
                a{
                    text-decoration: underline;
                    font-size: $font-size;
                    color: $font-color;
                }
                .menu{
                    button{
                        border: none;
                      
                    }
                    .dropdown-item{
                        &.active, &:active {
                            background-color:$primary-color;
                        }
                        &:focus, &.focus{
                            outline: none;
                        }
                        
                    }
                }
            }
        }
    }
}
button:focus, button.focus{
    box-shadow: none;
    outline: none;
}