<section class="dashboard">
    <div class="wrapper">
        <div class="address-container">
            <div>
                <div class="welcome">
                    <h1>Une petite faim ?</h1>
                    <br>
                    <p class="sub-text">
                        Entre ton adresse dès maintenant, et découvre les restaurants près de toi !
                    </p>
                </div>
                <div class="address-form">
                    <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
                        <input type="text" formControlName="address" placeholder="Saisissez votre adresse" required>
        
                        <button class="btn bg-red" type="submit" [disabled]="!addressForm.valid || pending">
                            <span *ngIf="!pending">Rechercher</span>
                            <span *ngIf="pending" class="spinner-border spinner-border-sm"></span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>