@import "../../../../assets/colors.scss";
@import "../../../../assets/global.scss";

.dashboard {
    width: 100%;
    height: calc(100vh - #{$header-height} - #{$footer-height});
    display: flex;
    flex-direction: row;
    background-color: #000;

    .wrapper {
        width: 100vw;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: no-repeat url('./../../../../assets/images/home-dish-blurred.jpg');
        background-size: cover;

        .address-container {
            width: 600px;
            padding: 30px 20px;
            background-color: #fff;
            border-radius: 10px;
            opacity: 0.9;
            margin-left: $header-margin;

            div {
                .welcome {
                    h1 {
                        color: $primary-color;
                        font-weight: bold;
                        letter-spacing: -.035em;
                        text-shadow: 1px 0 0 $primary-color;
                    }

                    .sub-text {
                        color: $dark-grey;
                    }
    
                    font-weight: 600;
                    word-wrap: break-word;
                    width: 100%;
                    color: #fff;
                }
        
                .address-form {
                    margin-top: 25px;
                    height: 50px;

                    form {
                        display: flex;
                        flex-direction: row;
        
                        input {
                            border: 1px solid $dark-grey;
                            padding: 10px;
                            border-radius: 5px;
                            width: 68%;
                            margin: auto;
                            margin-left: 0px;
                        }
        
                        button  {
                            width: 30%;
                        }
        
                    }
                }
            }
        }

    }
}