<ng-template #modal let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Se connecter</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="form-group">
			<form [formGroup]="signInForm">
				<div class="row">
					<div class=" col-xs-12  col-md-12">
						<label>Login: <i class="asterisk">*</i></label>
						<input type="text" formControlName="login">
					</div>
					<div class=" col-xs-12  col-md-12">
						<label>Mot de passe: <i class="asterisk">*</i></label>
						<input type="password" formControlName="password">
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="modal-footer">
		<button [disabled]="pending || !signInForm.valid" class="btn btn-primary" type="button" (click)="signIn()">
			<span>Connexion
				<span *ngIf="pending" class="spinner-border spinner-border-sm"></span>
			</span>
		</button>
	</div>
</ng-template>