@import "../../../../../assets/colors.scss";
@import "../../../../../assets/global.scss";

.restaurants-container {
    
    width: 100%;
    display: flex;
    min-height: calc(100vh - #{$header-height} - #{$footer-height});

    .filters {
        background-color: $bg-grey;
        min-width: 250px;
        padding: 50px 30px ;
        font-size: $font-size;
    }

    .restaurants {
        margin: $inner-margin;
    
        .wrapper {
            display: flex;
            flex-wrap: wrap;
            h1{
                font-size: 1.5em;
                margin-bottom: 20px;
            }
            .cards-restaurants{
                width: 100%;
                .restaurant{
                    margin-bottom: 20px;
                    .restaurant-image {
                        width: 100%;
                    }
                    a{
                        font-size: $font-size;
                    }
                }
            }
        }
    }
}

input{
    padding: 0px 10px;
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid $dark-grey;
}

