<section class="restaurants-container">
	<div class="filters">
		<form [formGroup]="filtersForm">

			<h3>Trier par</h3>

			<p>Nom</p>
			<input type="text" formControlName="name" placeholder="Nom" required>
		</form>

		<p>Par page</p>
		<input type="number" [(ngModel)]="perPage" placeholder="Par page" required>

		<button class="btn bg-red" (click)="getRestaurants()">Trier</button>
		
	</div>
	<div class="restaurants">
		<div class="wrapper">
			<h1>RESTAURANTS</h1>
			<div class="row cards-restaurants">
				<ng-container *ngIf="!!restaurants && restaurants.length > 0">
					<div (click)="goTo('/restaurants/' + restaurant.id)" class="restaurant col-xs-12 col-sm-6 col-md-4 col-lg-3 pointer" *ngFor="let restaurant of restaurants">
						<img *ngIf="restaurant['attributes']['images'].length > 0" class="restaurant-image" src="{{ restaurant['attributes']['images'][0].url }}"/>
						<img *ngIf="!restaurant['attributes']['images'].length" class="restaurant-image" src="../../../../../assets/images/no-image.jpg"/>
			
						{{ restaurant['attributes']['name'] }}
					</div>
				</ng-container>

				<ng-container *ngIf="!!restaurants && restaurants.length == 0">Aucun restaurants</ng-container>
			</div>
		</div>

		<button [disabled]="pendingLoadMore" *ngIf="!!nextPage" class="btn bg-red btn-centered" (click)="loadMore()">
			<span *ngIf="!pendingLoadMore">Voir plus</span>
			<span *ngIf="pendingLoadMore" class="spinner-border spinner-border-sm"></span>
		</button>
	</div>
</section>
