<div class="modal-header">
	<h4 class="modal-title" id="modal-basic-title">Suppression</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	Etes-vous sûr de vouloir supprimer ?
</div>
<div class="modal-footer">
	<button class="btn btn-dark" type="button" (click)="activeModal.dismiss(reasons.CANCEL)">Annuler</button>
	<button class="btn btn-danger" type="button" (click)="activeModal.dismiss(reasons.CONFIRM)">Confirmer</button>
</div>