<footer class="footer">
	<div class="wrapper">
        <div class="row">
            <div class="left-section col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <a routerLink="/">Politique de confidentialité</a>
            </div>
            <div class="mid-section col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <a routerLink="/">Conditions légales</a>
            </div>
            <div class="right-section col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <a routerLink="/">© 2020 Les Reeks, Inc. All rights reserved</a>
            </div>
        </div>
    </div>
</footer>