@import "../../../assets/global.scss";
@import "../../../assets/colors.scss";

.footer {
	//height: $footer-height;
	background-color: #000;
	padding: 20px 0;
	.wrapper {
		width: 95%;
        margin: auto;
        display: flex;
        height: 100%;
        text-align: center;
		.row{
            width: 100%;
            .left-section {
                margin: auto;
                text-align: left;
                a{
					text-decoration: underline;
					font-size: $font-size;
					color: $font-color;
				}
        	}
        	.mid-section {
				width: 33%;
				a{
					text-decoration: underline;
					font-size: $font-size;
					color: $font-color;
				}
			}
			.right-section {
                margin: auto;
                text-align: right;
                padding: 0;
                
                a{
					
					font-size: $font-size;
					color: $font-color;
				}
        	}
        }
		
	}
}