/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import "./assets/colors.scss";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import '~ngx-toastr/toastr';
 
// bootstrap style toast 
// or import a bootstrap 4 alert styled design (SASS ONLY) 
// should be after your bootstrap imports, it uses bs4 variables, mixins, functions 
@import '~ngx-toastr/toastr-bs4-alert';
 
// if you'd like to use it without importing all of bootstrap it requires 
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~ngx-toastr/toastr-bs4-alert';

* {
    font-family: 'IBM Plex Sans', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        color: inherit;
        text-decoration: none; 
    }
}

.btn {
    padding: 10px;
    font-weight: 600;
    color: #ffffff;   
}

.bg-red {
    background-color: $primary-color;
}

.btn:hover {
    color: #ffffff;
    text-decoration: none;
}

.pointer {
    cursor: pointer;
}

.toast-success {
    background-color: #54A254 !important;
}

.toast-error {
    background-color: #d63031 !important;
}

.asterisk {
    color: #d63031;
}

.btn-centered {
    margin: auto;
    display: block;
}