@import "../../../../assets/global.scss";
@import "../../../../assets/colors.scss";
.modal-header{
	.modal-title{
		text-transform: uppercase;
	}
}
form{
	width: 90%;
	margin: auto;
	input{
		padding: 0px 10px;
		width: 100%;
		margin: auto;
		margin-bottom: 10px;
		border: none;
		border-bottom: 1px solid $dark-grey;
		&:focus{
			border-color: $dark-grey;
			box-shadow: none;
			outline: 0 none;
		}
	}
	.allergies{
		margin-bottom: 4px;
	}
}
.modal-footer{
	button{
		background-color: $primary-color;
		border-color: #AF1B38;
		text-transform: uppercase;
		padding: 10px 30px;
	}
}
button:focus, button.focus{
    box-shadow: none;
    outline: none;
}