<ng-template #modal let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">S'inscrire</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="form-group">
			<form [formGroup]="signUpForm">
				<div class="row">
					<div class=" col-xs-12 col-md-12">
						<p><strong>Informations personnelles</strong></p>
					</div>
					<div class=" col-xs-12 col-md-6">
						<label>Prenom: <i class="asterisk">*</i></label>
						<input type="text" formControlName="firstname">
					</div>
					<div class=" col-xs-12 col-md-6">
						<label>Nom: <i class="asterisk">*</i></label>
						<input type="text" formControlName="lastname">
					</div>
					<div class=" col-xs-12 col-md-12">
						<label>Email: <i class="asterisk">*</i></label>
						<input type="email" formControlName="email">
					</div>
					<div class=" col-xs-12 col-md-12">
						<br>
						<p><strong>Profile</strong></p>
					</div>
					<div class=" col-xs-12 col-md-6">
						<label>Login: <i class="asterisk">*</i></label>
						<input type="text"formControlName="login">
					</div>
					<div class=" col-xs-12 col-md-6">
						<label>Mot de passe: <i class="asterisk">*</i></label>
						<input type="password" formControlName="password">
					</div>
					<div class=" col-xs-12 col-md-12">
						<br>
						<p><strong>Adresses</strong></p>
					</div>
					<div class=" col-xs-12 col-md-12">
						<label>Adresse de domicile:</label>
						<input type="text" formControlName="home">
					</div>
					<div class=" col-xs-12 col-md-12">
						<label>Adresse de travail:</label>
						<input type="text" formControlName="work">
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="modal-footer">
		<button [disabled]="pending || !signUpForm.valid" class="btn btn-primary" type="button" (click)="signUp()">
			<span>Valider
				<span *ngIf="pending" class="spinner-border spinner-border-sm"></span>
			</span>
		</button>
	</div>
</ng-template>